<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="./images/AH.png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="flex items-center justify-center">
    <header>
    </header>
    <!--Login form rebuild-->
    <article class="bg-gray-100 rounded-lg shadow-md p-10 transition-transform mt-20 w-96">
        <div class="logo">
            <img src="./images/ah logo-01-01.png" alt="logo" class="w-60 -mb-48 -mt-10 h-80 mx-auto pb-10">
        </div>
        <form action="login" method="POST" class="pt-10"></form>
            <div class="mb-4">
                <label for="email" class="block text-green-700 text-sm font-bold mb-2 float-left">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" class="shadow appearance-none border rounded w-full py-2 px-3 text-slate-900 leading-tight focus:outline-none focus:border-green-600 focus:shadow-outline" required>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-green-700 text-sm font-bold mb-2 float-left">Password</label>
                <input type="password" name="password" id="password" placeholder= "Enter your password" class="shadow appearance-none focus:border-green-600 border rounded w-full py-2 px-3 text-slate-900 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div>
            <button type="submit" class="w-full bg-green-900 hover:bg-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</button>
            </div>
        </form>
        <p class="text-slate-900 text-center pt-10">Don't have an account? <a href="user.html" class="text-green-700">Register</a></p>
    </div>
    </article>
</body>
</html>